* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.container {
  background: url(../images/login.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  background: rgba(0, 0, 0, 0.5);
  border: 0.5px solid #000;
  width: 500px;
  height: 700px;
  border-radius: 5px;
  position: absolute;
  opacity: 1;
}

.register {
  background: rgba(50, 120, 127, 0.5);
  border: 0.5px solid #000;
  width: 500px;
  height: 700px;
  border-radius: 5px;
  position: absolute;
  opacity: 0;
}

/* #login-page {
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

.login-container {
  position: relative;
  width: 500px;
  height: 700px;
  color: white;
  font-size: 300px;
  font-weight: bolder;
  overflow: hidden;
}

.login-container img {
  position: absolute;
}

#login-page,
.login-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
} */
