* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.container {
  background: url(../images/login.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* LOGIN */
.login-register-container {
  background: rgba(0, 0, 0, 0.5);
  /* border: 0.5px solid #000; */
  box-shadow: 0 0 5px #000;
  width: 50%;
  min-width: 300px;
  height: 50%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

.login-register-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20%;
}

#login,
#register {
  background: none;
  color: white;
  border: none;
  width: 100%;
  height: 100%;
  font-size: 20px;
}

#register {
  opacity: 0.7;
  background: white;
  color: black;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.login-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  width: 100%;
  height: 100%;
  font-size: 30px;
}

.login-label {
  display: none;
}

.login-info input {
  font-size: 30px;
  background: none;
  border: none;
  border-bottom: 1px solid white;
  font-weight: lighter;
  outline: none;
  color: white;
  padding: 2%;
}

input::placeholder {
  color: white;
  opacity: 1;
}

.login-button {
  background: none;
  color: white;
  border: none;
  width: 100%;
  height: 45%;
  font-size: 20px;
  transition: 0.4s ease-out;
}

.login-button:hover {
  opacity: 0.7;
  background: white;
  color: black;
}

/* REGISTER */
.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  display: none;
}
