* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Roboto Mono", monospace;
}

.products-container {
  width: 100%;
  height: 100%;
}

.products-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  background: transparent;
  position: fixed;
}

.products-navbar h1 {
  color: white;
  font-size: 50px;
  margin-left: 1%;
  font-weight: bold;
  font-size: 30px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.navbar-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 15%;
}

.navbar-buttons button {
  background: none;
  color: white;
  border: none;
  font-size: 17px;
  font-weight: normal;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-transform: uppercase;
}

.navbar-buttons button:hover {
  transform: scale(1.3);
}

.navbar-small-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70px;
  margin-right: 1%;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.navbar-profile,
.navbar-cart {
  color: white;
  font-size: 20px;
}

.landing-page {
  background-image: url(../images/landing2.jpg);
  background-size: cover;
  width: 100%;
  height: 70%;
  min-height: 300px;
  background-attachment: fixed;
}

/* .landing-page h1 {
  color: black;
  text-shadow: 0 0 3px white;
  font-size: 50px;
} */

.blog {
  width: 100%;
  height: 60%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog h1 {
  margin-bottom: 1%;
}

.blog p {
  width: 40%;
  text-align: center;
}

.blog-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5%;
}

.blog-2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5%;
}

.blog-details {
}

.blog-1 img,
.blog-2 img {
  width: 700px;
  height: 700px;
}
